*~
*.a
ABOUT-NLS
aclocal.m4
autom4te.cache
compile
config.*
configure
*.db
depcomp
.deps
*.gir
gtk-doc.make
INSTALL
install-sh
intl
*.la
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
*.o
*.pc
*.pyc
stamp-h1
*.swp
*.typelib
gnome-builder
gschemas.compiled
